body{
background-color: black;}

#fehercica{
    margin-left: 760px;
    margin-top: 1%;
}

h1{
    margin-left: 46%;
    margin-top: -1%;
    color: white;
}

canvas{
    margin-left: 19%;
    margin-bottom: 0%;
    margin-right: 0px;
}
