body{
    background-color: black;}
    
#fehercica{
    margin-left: 45%;
    margin-top: 1%;}
    
h1{
    margin-left: 46%;
    margin-top: -1%;
    color: white;}
    
canvas{
    display: block;
    margin: 0 auto 0 auto;
    margin-bottom: 0%;
}

#backButton {
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        position: absolute;
        margin-left: 18.8%;
        margin-top: -4%;
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;}

#szintSzam {
    position: absolute;
    margin-top: -3.5%;
    left: auto;
    font-size: 24px;
    color: white;
    font-weight: bold;}
