body{
    background-color: black;}
    
    #fehercica{
        margin-left: 45%;
        margin-top: 1%;
    }
    
    h1{
        margin-left: 46%;
        margin-top: -1%;
        color: white;
    }
    
    canvas{
        margin-left: 250px;
        margin-bottom: 250px;
        margin-right: 0px;
    }

#backButton {
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
        position: absolute;
        margin-left: 16.5%;
        margin-top: -4%;
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;
    }

    #szintSzam {
        position: absolute;
        margin-top: -3.5%;
        left: 78%;
        font-size: 24px;
        color: white;
        font-weight: bold;
    }
    
    